
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


logs/
*.log


.env
.env.*

dist/
build/
coverage/


.idea/
.vscode/
*.sublime-workspace
.DS_Store


.npm/


.eslintcache

.node_repl_history